/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto:wght@300&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* background: rgba(0, 0, 0, 0.815); */
    background: url('../Assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 50px;
}

:root {
    --Roboto: 'Roboto';
    --OpenSans: 'Open Sans', sans-serif;
    --Chealsea: 'Chealsea', cursive;
    --light-black: #2e2e2e;
    --bggradient: linear-gradient(90deg, rgba(67, 67, 68, 1) 0%, rgba(214, 214, 221, 1) 45%, rgba(212, 215, 215, 1) 94%);
}

/*Hide scrollbar*/
#noScroll {
    overflow: hidden;
}

/* Header */
header a {
    font-family: var(--Roboto);
    font-size: 1em;
    color: whitesmoke;
    height: 3em;
}

header {
    background: var(--bggradient);
}

.dropdown-content {
    right: 0 !important;
    left: auto !important;
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

header .navbar-brand {
    font-size: 23px;
}

#dropDownHover {
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #ddd;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 0.9em;
}

header .nav-item {
    padding-top: 1em;
}

header .navbar-brand {
    padding-top: 1em;
    padding-left: 1em;
}


/*About me*/

#introduction, #coopExperience, #reflection {
    font-family: var(--Roboto);
    font-size: 20px;
}

.container-fluid .firstHeader {
    margin-top: 3em;
}


.row .col-md-10 {
    padding-top: 3em;
}

.row .col-md-10 .panel {
    width: 80%;
    top: 7vmin;
    left: 0;
    background: white;
    text-align: left;
    border-radius: 3px;
    padding: 3em 2em 3em 2em;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 2em;
}

.sticky-offset {
    top: 10em;
}

.row .col-md-2 {
    top: 3em;
    margin-left: -6em;
}



/*Co-op Experience*/

.coopExperience .row {
    padding-top: 6em;
}

.row {
    margin-top: 30px;
}
.coopExperience .row .col-md-3 .pray {
    border-radius: 0.2em;

}
.coopExperience .row .col-md-9 {
    padding-top: 3em;
}

.coopExperience .row .col-md-9 .panel {
    top: 7vmin;
    left: -15vmin;
    background: white;
    text-align: left;
    border-radius: 3px;
    padding: 3em 2em 3em 2em;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*Involment*/

.involvement .row .col-md-12 .panel {
    top: 7vmin;
    left: -15vmin;
    background: white;
    text-align: left;
    border-radius: 3px;
    padding: 3em 2em 3em 2em;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*Reflection*/

.reflection .row{
    margin-top: 5em;
}


.reflection .row .col-md-12 .panel {
    top: 7vmin;
    left: -15vmin;
    background: white;
    text-align: left;
    border-radius: 3px;
    padding: 3em 2em 3em 2em;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/*Footer*/

footer h4 {
    padding-top: 1em;
    font-family: var(--OpenSans);

}

footer {
    height: 21em;

}

footer p {
    width: 60%;
}